/*书写自己的首页*/
body {
    background-color: #f3f5f7;
}

i {
    font-style: normal;
}

/*定义一个版心*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/*侧边栏*/
.subnav {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 300px;
    background-color: pink;
    margin-left: 610px;
}

/*header盒子开始*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    z-index: 999;
}

.header .wrapper {
    display: flex;
    padding-top: 29px;
}

.logo {
    width: 195px;
    height: 41px;
}

.logo a {
    /* 转换块*/
    display: block;
    height: 41px;
    background-image: url(../images/logo.png);
    /* 隐藏文字*/
    font-size: 0;
}

.nav {
    margin-left: 100px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav li a {
    font-size: 19px;
    padding: 8px;
    line-height: 34px;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    position: relative;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 80px;
}

.search input {
    width: 412px;
    height: 40px;
    /*背景色透明*/
    background-color: transparent;
    /*边框为0不显示*/
    border: 0;
    padding-left: 20px;
    padding-right: 50px;
    /*去掉点击之后显示的黑色边框*/
    outline: 0;
}

.search .icon-fangdajing {
    position: absolute;
    right: 20px;
    top: 4px;
    font-size: 22px;
    color: #00a4ff;
}

.user {
    margin-left: 32px;
    font-size: 16px;
}

.user img {
    /*让文字和图片垂直居中对齐*/
    vertical-align: middle;
}

.user span {
    color: #666;
    margin-left: 5px;
    text-align: center;
}

/*header盒子结束*/

/*banner开始*/
.banner {
    margin-top: 100px;
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    /*主轴两侧对齐*/
    justify-content: space-between;
    /*侧轴居中*/
    align-items: center;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

.banner .left {
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
    padding-top: 3px;
}

.banner .left li a {
    /*display: block;*/
    display: flex;
    /*主轴两侧对齐*/
    justify-content: space-between;
    height: 46px;
    font-size: 16px;
    color: #d0dfe5;
    padding: 0 20px;
    line-height: 46px;
}

.banner .left li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #00a4ff;
}

.banner .right {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
    padding-top: 18px;
}

.banner .right h3 {
    height: 30px;
    padding-left: 14px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.banner .content {
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;
}

.banner .content dl {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
    padding-bottom: 9px;
}

.banner .content dt {
    height: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.banner .content dd {
    height: 17px;
    margin-top: 8px;
    font-size: 12px;
    color: #7d7d7d;
}

.banner .content dd span {
    color: #00a4ff;
}

.banner .content a {
    display: block;
    height: 32px;
    margin-top: 2px;
    font-size: 14px;
    background-color: #00a4ff;
    border-radius: 15px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
}

.banner .content a:hover {
    background-color: #049bec;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/*banner结束*/

/*精品推荐模块开始*/
.recommend {
    position: sticky;
    top: 100px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 11px;
    line-height: 60px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    padding: 0 20px;
    z-index: 99;
}

.recommend h3 {
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommend ul {
    display: flex;
    flex: 1;
}

.recommend li a {
    font-size: 18px;
    border-right: 1px solid #e0e0e0;
    padding: 0 24px;
}

.recommend li a:hover {
    color: #00a4ff;
}

/*选择最后一个li里面的a*/
.recommend li:last-child a {
    border-right: none;
}


.recommend .modify {
    font-size: 16px;
    color: #00a4ff;
}

/*精品推荐模块结束*/

/*课程模块*/
.hd {
    display: flex;
    height: 30px;
    margin: 31px 0 15px;
    line-height: 30px;
    justify-content: space-between;
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd .all {
    color: #999;
    font-size: 16px;
}

.bd ul {
    display: flex;
    /*强制换行*/
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.bd ul li {
    position: relative;
    width: 228px;
    height: 271px;
    background-color: #fff;
    margin-bottom: 14px;
    /*过渡*/
    transition: .3s;
}

.bd ul li:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
}

.bd ul li a {
    display: block;
    height: 100%;
}

.bd ul li a h4 {
    height: 37px;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 20px 16px;
}

.bd ul li a p {
    font-size: 14px;
    margin: 0 20px;
    color: #999;
}

.bd ul li a p span {
    color: #fa6400;
}

.bd ul li a img {
    width: 100%;
}

/*前端模块*/
.hd ul {
    display: flex;
}

.hd ul li a {
    font-size: 16px;
    margin: 0 30px;
}

.hd .hot {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228px;
    height: 386px;
}

.bd .right {
    width: 957px;
    height: 386px;
}

.bd .right .top {
    height: 100px;
    margin-bottom: 15px;
}

.bd .line {
    width: 1200px;
}

/*底部盒子*/

.footer {
    height: 273px;
    background-color: #ffffff;
    margin-top: 45px;
    padding-top: 60px;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 432px;
    height: 148px;
}

.footer .left .f-logo {
    display: block;
    width: 195px;
    height: 41px;
    background: url(../images/logo.png);
}

.footer .left p {
    margin-top: 24px;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
}

.footer .left .app {
    display: block;
    margin-top: 14px;
    width: 120px;
    height: 36px;
    font-size: 16px;
    border: solid 1px #00a4ff;
    line-height: 36px;
    text-align: center;
    color: #00a4ff;
}

.footer .left .app:hover {
    background-color: #00a4ff;
    color: #fff;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right dt {
    font-size: 16px;
    height: 35px;
}

.footer .right dd {
    font-size: 14px;
    height: 24px;
}

.footer .right dd a {
    color: #666;
}

.footer .right dd a:hover {
    color: #00a4ff;
}