@font-face {
  font-family: "iconfont"; /* Project id 4057929 */
  src: url('iconfont.woff2?t=1683618133655') format('woff2'),
       url('iconfont.woff?t=1683618133655') format('woff'),
       url('iconfont.ttf?t=1683618133655') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoxiangji:before {
  content: "\e600";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-zhaoxiangji1:before {
  content: "\e663";
}

.icon-shouji1:before {
  content: "\e692";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-search:before {
  content: "\e623";
}

.icon-zhaoxiangjib:before {
  content: "\e6e8";
}

.icon-zhaoxiangji2:before {
  content: "\e602";
}

.icon-RectangleCopy:before {
  content: "\e6a4";
}

.icon-RectangleCopy1:before {
  content: "\e6a9";
}

.icon-fangdajing1:before {
  content: "\e848";
}

.icon-shouji2:before {
  content: "\e8c6";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-code:before {
  content: "\e667";
}

.icon-close:before {
  content: "\e668";
}

.icon-fabulous:before {
  content: "\e66f";
}

.icon-search1:before {
  content: "\e67d";
}

.icon-select:before {
  content: "\e67e";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-task-filling:before {
  content: "\e68c";
}

.icon-zhaopian_zhaoxiang_zhaoxiangji:before {
  content: "\e79d";
}

